<fieldset class="well" xmlns:rad="http://typo3.org/ns/Org/Gucken/Rad/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" >
    <rad:row id="keywords_{type.keywords -> f:count()}_keyword" property="keywords" label="Suchworte">
        <ol>
            <f:for each="{type.keywords}" as="keyword" key="i">
                <li>{keyword}</li>
            </f:for>
            <li class="autoadd" data-autoadd='{"selector":"input.autoadd-listen","event":"change"}'>
                <f:form.textfield property="keywords.{type.keywords -> f:count()}.keyword"
                                  id="keywords_{type.keywords -> f:count()}_keyword" class="autoadd-listen"/>
                <f:form.hidden property="keywords.{type.keywords -> f:count()}.type" value="{type}"/>
                <f:form.hidden property="keywords.{type.keywords -> f:count()}.typeId" value="{type.title}"/>
            </li>
        </ol>
    </rad:row>
</fieldset>
