<fieldset class="well" xmlns:rad="http://typo3.org/ns/Org/Gucken/Rad/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <rad:row id="type_title" property="title" label="Titel">
        <f:form.textfield id="type_title" property="title"/>
    </rad:row>

    <rad:row id="type_pluralTitle" property="pluralTitle" label="Plural">
        <f:form.textfield id="type_pluralTitle" property="pluralTitle"/>
    </rad:row>

    <rad:row id="type_description" property="description" label="Beschreibung">
        <f:form.textfield id="type_description" property="description"/>
    </rad:row>
</fieldset>