{namespace rad=Org\Gucken\Rad\ViewHelpers}
<fieldset class="well">
	<rad:row id="source_name" property="name" label="Name">
		<f:form.textfield id="source_name" property="name" />
	</rad:row>

	<rad:row id="source_active" property="active" label="Aktiv">
		<f:form.checkbox id="source_active" property="active" value="1" />
	</rad:row>

	<rad:row id="source_code" property="code" label="Code">
		<f:form.textfield class="span1" id="source_code" property="code" />
	</rad:row>

	<rad:row id="source_style" property="style" label="Stil">
		<f:for each="{0:'',1:'label-success',2:'label-warning', 3:'label-important', 4:'label-info', 5:'label-inverse'}" as="style" key="nr">
			<label class="checkbox inline label {style}">
				<f:form.radio name="source[style]" value="{style}" checked="{source.style} == {style}" /> Stil {nr}
			</label>
		</f:for>

	</rad:row>

	<rad:row id="source_implementationClass" property="implementationClass" label="Implementierung">
		<f:form.select id="source_implementationClass" property="implementationClass" options="{implementations}">
			<option value="">---</option>
		</f:form.select>
	</rad:row>

</fieldset>
<f:if condition="{source.implementationClass}">
	<h4>Parameter für {source.implementationClass}</h4>
	<fieldset class="well">
		<f:for each="{source.parameterProperties}" key="field" as="property">
			<rad:field propertyValue="{property}" propertyName="parameters.{field}"/>
		</f:for>
	</fieldset>
</f:if>

<script type="text/javascript">
	document.getElementById('source.implementationClass').addEventListener(
	'change',
	function(ev) {
		document.getElementById('source.defaultSubmit').click();
	}
);
</script>