<!DOCTYPE html>
<html lang="de">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Backend: bielefeld.gucken.org</title>
		<meta name="description" content="" />
		<meta name="author" content="" />
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'css/bootstrap.css',package:skinPackage)}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'css/bootstrap-responsive.css',package:skinPackage)}" />

		<link rel="shortcut icon" href="{f:uri.resource(path:'img/favicon.ico',package:skinPackage)}" />
	</head>

	<body class="admin">

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
					<f:link.action controller="Standard" action="index" class="brand">bielefeld<span>.</span>gucken<span>.</span>org</f:link.action>
					<div class ="navbar-text pull-right" id="ajax-indicator"></div>
					<div class="nav-collapse">
						<f:render partial="Navigation/Admin" />
						<f:render partial="Account/Login" />
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div id="message-drawer" class="alert-messages">
			<f:render partial="Tools/Messages" />
		</div>

		<div class="container-fluid content">
			<div class="row-fluid">
				<f:comment>
				<div class="span2">
					<div class="well sidebar-nav">
						<f:render partial="Navigation/Left" />
					</div>
				</div>
				</f:comment>

				<div class="span12">
					<f:render section="content" />
				</div>
			</div>
			<hr />

			<footer>
				<p>bielefeld.gucken.org <f:format.date format="Y" date="now" /></p>
			</footer>

		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

		<script type="text/javascript" src="{f:uri.resource(path:'js/bootstrap-collapse.js',package:skinPackage)}"></script>
		<script type="text/javascript" src="{f:uri.resource(path:'js/bootstrap-alert.js',package:skinPackage)}"></script>
		<script type="text/javascript" src="{f:uri.resource(path:'js/bootstrap-dropdown.js',package:skinPackage)}"></script>
		<script type="text/javascript" src="{f:uri.resource(path:'js/bootstrap-tooltip.js',package:skinPackage)}"></script>
		<script type="text/javascript" src="{f:uri.resource(path:'js/bootstrap-popover.js',package:skinPackage)}"></script>
		<script type="text/javascript" src="{f:uri.resource(path:'js/bootstrap-datepicker.js',package:skinPackage)}"></script>

		<script type="text/javascript" src="{f:uri.resource(path:'js/init.js',package:skinPackage)}"></script>

	</body>
</html>

