<?xml version="1.0" encoding="UTF-8"?>
<f:layout name="Admin.html" />

<f:section name="content">
	<div class="row-fluid">
		<f:security.ifAccess resource="Org_Gucken_Events_Controller_Source">
			<div class="span4">
				<h2>Quellen</h2>
				<p><f:link.action class="btn" action="index" controller="Source">Quellen bearbeiten &raquo;</f:link.action></p>
			</div>
		</f:security.ifAccess>
		<f:security.ifAccess resource="Org_Gucken_Events_Controller_FactoidConvert">
			<div class="span4">
				<h2>Faktoide</h2>
				<p><f:link.action class="btn" action="index" controller="FactoidConvert">Events live stellen &raquo;</f:link.action></p>
			</div>
		</f:security.ifAccess>
		<f:security.ifAccess resource="Org_Gucken_Events_Controller_Location">
			<div class="span4">
				<h2>Orte</h2>
				<p><f:link.action class="btn" action="index" controller="Location">Orte bearbeiten &raquo;</f:link.action></p>
			</div>
		</f:security.ifAccess>
	</div>
</f:section>