<div class="alert alert-{severityClass} fade in" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <a data-dismiss="alert" class="close">×</a>
    <strong>{f:if(condition:flashMessage.title, then: flashMessage.title, else: severityLabel)}!</strong>
    {flashMessage -> f:translate(id: flashMessage.code, arguments: flashMessage.arguments, package:
    'Org.Gucken.Bielefeld', source: 'ValidationErrors')}

    <f:if condition="{flashMessage.code}">
        <strong>[Error Code: {flashMessage.code}]</strong>
    </f:if>
</div>
