<h4>Wir hängen auf Twitter rum</h4>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<f:format.raw>
    <script>
        <![CDATA[
        new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 3,
            interval: 30000,
            width: 250,
            height: 280,
            theme: {
                shell: {
                    background: '#f8f8f8',
                    color: '#111111'
                },
                tweets: {
                    background: '#ffffff',
                    color: '#111111',
                    links: '#e57300'
                }
            },
            features: {
                scrollbar: true,
                loop: false,
                live: false,
                behavior: 'all'
            }
        }).render().setUser('bielefeldgucken').start();
        ]]>
    </script>
</f:format.raw>
